In [97]:
#bring the data in
import pandas as pd
import numpy as np
import re
job_df = pd.read_csv('archive/DataAnalyst.csv')
job_df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [98]:
#filter out the data that is not needed
job_df = job_df[job_df['Job Title'].str.contains('Data')]
job_df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [99]:
#find insights
job_df = job_df[job_df['Job Title'].str.contains('Analyst')]
job_df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,3.2,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,3.8,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,GoDaddy,-1
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,Subsidiary or Business Segment,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
4,4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,3.9,FanDuel\n3.9,"New York, NY","New York, NY",501 to 1000 employees,2009,Company - Private,Sports & Recreation,"Arts, Entertainment & Recreation",$100 to $500 million (USD),DraftKings,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2248,2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,2.5,"Avacend, Inc.\n2.5","Denver, CO","Alpharetta, GA",51 to 200 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,Company - Public,Wholesale,Business Services,$10+ billion (USD),"Avnet, Ingram Micro, Tech Data",-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-1.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
2251,2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,3.1,Contingent Network Services\n3.1,"Centennial, CO","West Chester, OH",201 to 500 employees,1984,Company - Private,Enterprise Software & Network Solutions,Information Technology,$25 to $50 million (USD),-1,-1
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Centura Health, HealthONE, Denver Health and H...",-1

In [100]:
#all rows contain data analyst now we can start breaking down the jobs according to what how many times they mention or if they mention a specific language
added_df = job_df[job_df['Job Description'].str.contains("tableau" ,na=False, flags=re.IGNORECASE)]
added_df
count_row = added_df.shape[0]
count_row

616

In [101]:

#SQL
added_df["sql"] = added_df['Job Description'].str.contains("sql" ,na=False, flags=re.IGNORECASE)
#Python
added_df["python"] = added_df['Job Description'].str.contains("python" ,na=False, flags=re.IGNORECASE)
#R
added_df["sql"] = added_df['Job Description'].str.contains("sql" ,na=False, flags=re.IGNORECASE)
#Excel
added_df["excel"] = added_df['Job Description'].str.contains("excel" ,na=False, flags=re.IGNORECASE)
#Tableau
added_df["tableau"] = added_df['Job Description'].str.contains("tableau" ,na=False, flags=re.IGNORECASE)
#PowerBI
added_df["powerbi"] = added_df['Job Description'].str.contains("powerbi" ,na=False, flags=re.IGNORECASE)
#Machine Learning or ML
added_df["ml"] = added_df['Job Description'].str.contains("ml" or "machine learning" ,na=False, flags=re.IGNORECASE)
#Jupyter
added_df["jupyter"] = added_df['Job Description'].str.contains("jupyter" ,na=False, flags=re.IGNORECASE)
#Spark
added_df["spark"] = added_df['Job Description'].str.contains("spark" ,na=False, flags=re.IGNORECASE)
added_df

C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Competitors,Easy Apply,sql,python,excel,tableau,powerbi,ml,jupyter,spark
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,...,GoDaddy,-1,True,True,True,True,False,False,False,False
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,...,-1,-1,True,False,False,True,True,False,False,False
11,11,Data Analyst,$37K-$66K (Glassdoor est.),BulbHead is currently seeking a Data Analyst t...,-1.0,BulbHead,"Fairfield, NJ",-1,1 to 50 employees,-1,...,-1,-1,True,True,True,True,False,False,False,False
16,16,Data Analyst,$37K-$66K (Glassdoor est.),Undertone stands alone among AdTech and ad net...,3.8,Undertone\n3.8,"New York, NY","New York, NY",201 to 500 employees,2001,...,"DoubleClick, Specific Media, Collective",True,True,False,False,True,False,False,False,False
21,21,Data Science Analyst,$37K-$66K (Glassdoor est.),"Job Description\nOur client, a music streaming...",-1.0,MUSIC & Entertainment,"New York, NY","Marina del Rey, CA",Unknown,-1,...,-1,-1,True,True,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,2217,Technical Data Analyst - X,$57K-$100K (Glassdoor est.),"SOFT's client, located in XXXXXXXX is hiring a...",4.1,Source of Future Technology Inc\n4.1,"Denver, CO","New York, NY",1 to 50 employees,1981,...,-1,-1,True,False,True,True,False,True,False,False
2227,2227,Data Base Programmer/Analyst,$57K-$100K (Glassdoor est.),Job Title:\nData Base Programmer/Analyst\nAppl...,3.3,V.L.S. Systems\n3.3,"Denver, CO","Chantilly, VA",201 to 500 employees,2006,...,-1,-1,False,False,False,True,False,False,False,False
2228,2228,Senior Business/Data Analyst,$57K-$100K (Glassdoor est.),This team is responsible for leading two prima...,2.7,TechUSA\n2.7,"Englewood, CO","Millersville, MD",1001 to 5000 employees,1998,...,-1,-1,True,False,True,True,False,False,False,False
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,...,"Avnet, Ingram Micro, Tech Data",-1,True,False,False,True,True,False,False,False
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,...,"Centura Health, HealthONE, Denver Health and H...",-1,False,False,True,True,False,False,False,False

In [102]:
#checking to see if all of the columns have the same format
a_list = added_df['Salary Estimate'].tolist()
a_list

['$37K-$66K (Glassdoor est.)',
 '$37K-$66K (Glassdoor est.)',
 '$37K-$66K (Glassdoor est.)',
 '$37K-$66K (Glassdoor est.)',
 '$37K-$66K (Glassdoor est.)',
 '$37K-$66K (Glassdoor est.)',
 '$37K-$66K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$46K-$87K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$88K (Glassdoor est.)',
 '$51K-$87K (Glassdoor est.)',
 '$51K-$87K (Glassdoor est.)',
 '$51K-$87K (Glassdoor est.)',
 '$51K-$87K (Glassdoor est.)',
 '$51K-$87K (Glassdoor est.)',
 '$51K-$87K (Glassdoor est.)',
 '$51K-$87K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$59K-$85K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$43K-$76K (Glassdoor est.)',
 '$60K-$110K (Glassdoor est.)',
 '$60K-$110K (Glassdoor est.)',
 '$60K-$110K (Glassdoor est.)',
 '$60K-$110K (Glassdoor est.)',
 '$60K-$110K (Glassdoor est.)',
 '$60K-$110K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$45K-$88K (Glassdoor est.)',
 '$45K-$88K (Glassdoor est.)',
 '$73K-$127K (Glassdoor est.)',
 '$73K-$127K (Glassdoor est.)',
 '$73K-$127K (Glassdoor est.)',
 '$73K-$127K (Glassdoor est.)',
 '$73K-$127K (Glassdoor est.)',
 '$84K-$90K (Glassdoor est.)',
 '$84K-$90K (Glassdoor est.)',
 '$84K-$90K (Glassdoor est.)',
 '$84K-$90K (Glassdoor est.)',
 '$27K-$52K (Glassdoor est.)',
 '$27K-$52K (Glassdoor est.)',
 '$27K-$52K (Glassdoor est.)',
 '$27K-$52K (Glassdoor est.)',
 '$27K-$52K (Glassdoor est.)',
 '$27K-$52K (Glassdoor est.)',
 '$27K-$52K (Glassdoor est.)',
 '$27K-$52K (Glassdoor est.)',
 '$27K-$52K (Glassdoor est.)',
 '$42K-$74K (Glassdoor est.)',
 '$42K-$74K (Glassdoor est.)',
 '$42K-$74K (Glassdoor est.)',
 '$42K-$74K (Glassdoor est.)',
 '$42K-$74K (Glassdoor est.)',
 '$42K-$74K (Glassdoor est.)',
 '$77K-$132K (Glassdoor est.)',
 '$77K-$132K (Glassdoor est.)',
 '$77K-$132K (Glassdoor est.)',
 '$77K-$132K (Glassdoor est.)',
 '$77K-$132K (Glassdoor est.)',
 '$77K-$132K (Glassdoor est.)',
 '$77K-$132K (Glassdoor est.)',
 '$98K-$114K (Glassdoor est.)',
 '$98K-$114K (Glassdoor est.)',
 '$98K-$114K (Glassdoor est.)',
 '$98K-$114K (Glassdoor est.)',
 '$98K-$114K (Glassdoor est.)',
 '$98K-$114K (Glassdoor est.)',
 '$98K-$114K (Glassdoor est.)',
 '$98K-$114K (Glassdoor est.)',
 '$98K-$114K (Glassdoor est.)',
 '$48K-$96K (Glassdoor est.)',
 '$48K-$96K (Glassdoor est.)',
 '$48K-$96K (Glassdoor est.)',
 '$48K-$96K (Glassdoor est.)',
 '$48K-$96K (Glassdoor est.)',
 '$26K-$47K (Glassdoor est.)',
 '$26K-$47K (Glassdoor est.)',
 '$26K-$47K (Glassdoor est.)',
 '$26K-$47K (Glassdoor est.)',
 '$31K-$59K (Glassdoor est.)',
 '$31K-$59K (Glassdoor est.)',
 '$47K-$81K (Glassdoor est.)',
 '$43K-$69K (Glassdoor est.)',
 '$43K-$69K (Glassdoor est.)',
 '$43K-$69K (Glassdoor est.)',
 '$43K-$69K (Glassdoor est.)',
 '$43K-$69K (Glassdoor est.)',
 '$49K-$112K (Glassdoor est.)',
 '$30K-$54K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$55K-$103K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$37K-$70K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$57K-$103K (Glassdoor est.)',
 '$35K-$45K (Glassdoor est.)',
 '$35K-$45K (Glassdoor est.)',
 '$35K-$45K (Glassdoor est.)',
 '$35K-$45K (Glassdoor est.)',
 '$35K-$45K (Glassdoor est.)',
 '$35K-$45K (Glassdoor est.)',
 '$35K-$45K (Glassdoor est.)',
 '$35K-$45K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$42K-$66K (Glassdoor est.)',
 '$65K-$81K (Glassdoor est.)',
 '$65K-$81K (Glassdoor est.)',
 '$65K-$81K (Glassdoor est.)',
 '$65K-$81K (Glassdoor est.)',
 '$65K-$81K (Glassdoor est.)',
 '$65K-$81K (Glassdoor est.)',
 '$65K-$81K (Glassdoor est.)',
 '$65K-$81K (Glassdoor est.)',
 '$65K-$81K (Glassdoor est.)',
 '$113K-$132K (Glassdoor est.)',
 '$113K-$132K (Glassdoor est.)',
 '$113K-$132K (Glassdoor est.)',
 '$113K-$132K (Glassdoor est.)',
 '$113K-$132K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$60K-$66K (Glassdoor est.)',
 '$73K-$82K (Glassdoor est.)',
 '$73K-$82K (Glassdoor est.)',
 '$73K-$82K (Glassdoor est.)',
 '$73K-$82K (Glassdoor est.)',
 '$73K-$82K (Glassdoor est.)',
 '$73K-$82K (Glassdoor est.)',
 '$73K-$82K (Glassdoor est.)',
 '$67K-$92K (Glassdoor est.)',
 '$67K-$92K (Glassdoor est.)',
 '$67K-$92K (Glassdoor est.)',
 '$67K-$92K (Glassdoor est.)',
 '$67K-$92K (Glassdoor est.)',
 '$67K-$92K (Glassdoor est.)',
 '$67K-$92K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$97K-$129K (Glassdoor est.)',
 '$97K-$129K (Glassdoor est.)',
 '$97K-$129K (Glassdoor est.)',
 '$97K-$129K (Glassdoor est.)',
 '$97K-$129K (Glassdoor est.)',
 '$68K-$87K (Glassdoor est.)',
 '$29K-$38K (Glassdoor est.)',
 '$29K-$38K (Glassdoor est.)',
 '$29K-$38K (Glassdoor est.)',
 '$29K-$38K (Glassdoor est.)',
 '$29K-$38K (Glassdoor est.)',
 '$47K-$76K (Glassdoor est.)',
 '$47K-$76K (Glassdoor est.)',
 '$47K-$76K (Glassdoor est.)',
 '$47K-$76K (Glassdoor est.)',
 '$47K-$76K (Glassdoor est.)',
 '$47K-$76K (Glassdoor est.)',
 '$47K-$76K (Glassdoor est.)',
 '$47K-$76K (Glassdoor est.)',
 '$74K-$123K (Glassdoor est.)',
 '$74K-$123K (Glassdoor est.)',
 '$74K-$123K (Glassdoor est.)',
 '$74K-$123K (Glassdoor est.)',
 '$74K-$123K (Glassdoor est.)',
 '$74K-$123K (Glassdoor est.)',
 '$53K-$94K (Glassdoor est.)',
 '$53K-$94K (Glassdoor est.)',
 '$53K-$94K (Glassdoor est.)',
 '$53K-$94K (Glassdoor est.)',
 '$53K-$94K (Glassdoor est.)',
 '$53K-$94K (Glassdoor est.)',
 '$53K-$94K (Glassdoor est.)',
 '$53K-$94K (Glassdoor est.)',
 '$53K-$94K (Glassdoor est.)',
 '$46K-$102K (Glassdoor est.)',
 '$46K-$102K (Glassdoor est.)',
 '$46K-$102K (Glassdoor est.)',
 '$46K-$102K (Glassdoor est.)',
 '$43K-$94K (Glassdoor est.)',
 '$43K-$94K (Glassdoor est.)',
 '$43K-$94K (Glassdoor est.)',
 '$43K-$94K (Glassdoor est.)',
 '$43K-$94K (Glassdoor est.)',
 '$45K-$78K (Glassdoor est.)',
 '$45K-$78K (Glassdoor est.)',
 '$45K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$41K-$78K (Glassdoor est.)',
 '$38K-$68K (Glassdoor est.)',
 '$38K-$68K (Glassdoor est.)',
 '$38K-$68K (Glassdoor est.)',
 '$38K-$68K (Glassdoor est.)',
 '$38K-$68K (Glassdoor est.)',
 '$38K-$68K (Glassdoor est.)',
 '$38K-$68K (Glassdoor est.)',
 '$37K-$44K (Glassdoor est.)',
 '$37K-$44K (Glassdoor est.)',
 '$37K-$44K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$64K-$113K (Glassdoor est.)',
 '$50K-$93K (Glassdoor est.)',
 '$50K-$93K (Glassdoor est.)',
 '$50K-$93K (Glassdoor est.)',
 '$37K-$68K (Glassdoor est.)',
 '$37K-$68K (Glassdoor est.)',
 '$37K-$68K (Glassdoor est.)',
 '$37K-$68K (Glassdoor est.)',
 '$37K-$68K (Glassdoor est.)',
 '$37K-$68K (Glassdoor est.)',
 '$37K-$68K (Glassdoor est.)',
 '$37K-$68K (Glassdoor est.)',
 '$73K-$89K (Glassdoor est.)',
 '$73K-$89K (Glassdoor est.)',
 '$76K-$122K (Glassdoor est.)',
 '$76K-$122K (Glassdoor est.)',
 '$76K-$122K (Glassdoor est.)',
 '$76K-$122K (Glassdoor est.)',
 '$76K-$122K (Glassdoor est.)',
 '$60K-$124K (Glassdoor est.)',
 '$60K-$124K (Glassdoor est.)',
 '$60K-$124K (Glassdoor est.)',
 '$60K-$124K (Glassdoor est.)',
 '$60K-$124K (Glassdoor est.)',
 '$60K-$124K (Glassdoor est.)',
 '$60K-$124K (Glassdoor est.)',
 '$24K-$48K (Glassdoor est.)',
 '$24K-$48K (Glassdoor est.)',
 '$24K-$48K (Glassdoor est.)',
 '$24K-$48K (Glassdoor est.)',
 '$24K-$48K (Glassdoor est.)',
 '$24K-$48K (Glassdoor est.)',
 '$30K-$53K (Glassdoor est.)',
 '$30K-$53K (Glassdoor est.)',
 '$30K-$53K (Glassdoor est.)',
 '$30K-$53K (Glassdoor est.)',
 '$30K-$53K (Glassdoor est.)',
 '$30K-$53K (Glassdoor est.)',
 '$30K-$53K (Glassdoor est.)',
 '$30K-$53K (Glassdoor est.)',
 '$30K-$53K (Glassdoor est.)',
 '$41K-$86K (Glassdoor est.)',
 '$41K-$86K (Glassdoor est.)',
 '$41K-$86K (Glassdoor est.)',
 '$41K-$86K (Glassdoor est.)',
 '$41K-$86K (Glassdoor est.)',
 '$41K-$86K (Glassdoor est.)',
 '$41K-$86K (Glassdoor est.)',
 '$41K-$86K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$44K-$82K (Glassdoor est.)',
 '$48K-$88K (Glassdoor est.)',
 '$48K-$88K (Glassdoor est.)',
 '$48K-$88K (Glassdoor est.)',
 '$48K-$88K (Glassdoor est.)',
 '$48K-$88K (Glassdoor est.)',
 '$44K-$78K (Glassdoor est.)',
 '$44K-$78K (Glassdoor est.)',
 '$44K-$78K (Glassdoor est.)',
 '$44K-$78K (Glassdoor est.)',
 '$44K-$78K (Glassdoor est.)',
 '$44K-$78K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$110K-$190K (Glassdoor est.)',
 '$89K-$151K (Glassdoor est.)',
 '$89K-$151K (Glassdoor est.)',
 '$89K-$151K (Glassdoor est.)',
 '$89K-$151K (Glassdoor est.)',
 '$89K-$151K (Glassdoor est.)',
 '$89K-$151K (Glassdoor est.)',
 '$89K-$151K (Glassdoor est.)',
 '$89K-$151K (Glassdoor est.)',
 '$89K-$151K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$69K-$127K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$51K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$58K-$93K (Glassdoor est.)',
 '$63K-$116K (Glassdoor est.)',
 '$63K-$116K (Glassdoor est.)',
 '$63K-$116K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$42K-$76K (Glassdoor est.)',
 '$53K-$104K (Glassdoor est.)',
 '$53K-$104K (Glassdoor est.)',
 '$53K-$104K (Glassdoor est.)',
 '$53K-$104K (Glassdoor est.)',
 '$35K-$42K (Glassdoor est.)',
 '$35K-$42K (Glassdoor est.)',
 '$35K-$42K (Glassdoor est.)',
 '$35K-$42K (Glassdoor est.)',
 '$35K-$42K (Glassdoor est.)',
 '$35K-$42K (Glassdoor est.)',
 '$35K-$42K (Glassdoor est.)',
 '$43K-$77K (Glassdoor est.)',
 '$40K-$72K (Glassdoor est.)',
 '$40K-$72K (Glassdoor est.)',
 '$50K-$86K (Glassdoor est.)',
 '$50K-$86K (Glassdoor est.)',
 '$50K-$86K (Glassdoor est.)',
 '$57K-$70K (Glassdoor est.)',
 '$28K-$52K (Glassdoor est.)',
 '$28K-$52K (Glassdoor est.)',
 '$28K-$52K (Glassdoor est.)',
 '$28K-$52K (Glassdoor est.)',
 '$28K-$52K (Glassdoor est.)',
 '$28K-$52K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$50K-$86K (Glassdoor est.)',
 '$50K-$86K (Glassdoor est.)',
 '$50K-$86K (Glassdoor est.)',
 '$54K-$75K (Glassdoor est.)',
 '$54K-$75K (Glassdoor est.)',
 '$54K-$75K (Glassdoor est.)',
 '$54K-$75K (Glassdoor est.)',
 '$54K-$75K (Glassdoor est.)',
 '$40K-$74K (Glassdoor est.)',
 '$40K-$74K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$57K-$104K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$99K-$178K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$93K-$159K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$82K-$116K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$65K-$120K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$46K-$86K (Glassdoor est.)',
 '$47K-$74K (Glassdoor est.)',
 '$47K-$74K (Glassdoor est.)',
 '$47K-$74K (Glassdoor est.)',
 '$47K-$74K (Glassdoor est.)',
 '$34K-$61K (Glassdoor est.)',
 '$34K-$61K (Glassdoor est.)',
 '$34K-$61K (Glassdoor est.)',
 '$34K-$61K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$35K-$67K (Glassdoor est.)',
 '$55K-$101K (Glassdoor est.)',
 '$55K-$101K (Glassdoor est.)',
 '$55K-$101K (Glassdoor est.)',
 '$55K-$101K (Glassdoor est.)',
 '$55K-$101K (Glassdoor est.)',
 '$55K-$101K (Glassdoor est.)',
 '$55K-$101K (Glassdoor est.)',
 '$55K-$101K (Glassdoor est.)',
 '$57K-$67K (Glassdoor est.)',
 '$57K-$67K (Glassdoor est.)',
 '$57K-$67K (Glassdoor est.)',
 '$57K-$67K (Glassdoor est.)',
 '$57K-$67K (Glassdoor est.)',
 '$57K-$67K (Glassdoor est.)',
 '$57K-$67K (Glassdoor est.)',
 '$49K-$91K (Glassdoor est.)',
 '$49K-$91K (Glassdoor est.)',
 '$49K-$91K (Glassdoor est.)',
 '$49K-$91K (Glassdoor est.)',
 '$49K-$91K (Glassdoor est.)',
 '$57K-$100K (Glassdoor est.)',
 '$57K-$100K (Glassdoor est.)',
 '$57K-$100K (Glassdoor est.)',
 '$57K-$100K (Glassdoor est.)',
 '$57K-$100K (Glassdoor est.)',
 '$57K-$100K (Glassdoor est.)',
 '$57K-$100K (Glassdoor est.)',
 '$78K-$104K (Glassdoor est.)',
 '$78K-$104K (Glassdoor est.)']

In [103]:
def remove_letters(x):
    for index, value in x.items():
        numbers = re.findall(r'\d+', value)
        salary= (int(numbers[0])+ int(numbers[1]))/2
        salary_series = pd.Series(salary)
        added_df["Salary"] = salary_series
        
remove_letters(added_df["Salary Estimate"])


# added_df['Salary'] = list(map(remove_letters,  added_df['Salary Estimate']))

C:\Users\Kieran\anaconda3\envs\PythonAdv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [104]:
added_df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,...,Easy Apply,sql,python,excel,tableau,powerbi,ml,jupyter,spark,Salary
2,2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,3.4,Squarespace\n3.4,"New York, NY","New York, NY",1001 to 5000 employees,2003,...,-1,True,True,True,True,False,False,False,False,NaN
3,3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,4.1,Celerity\n4.1,"New York, NY","McLean, VA",201 to 500 employees,2002,...,-1,True,False,False,True,True,False,False,False,NaN
11,11,Data Analyst,$37K-$66K (Glassdoor est.),BulbHead is currently seeking a Data Analyst t...,-1.0,BulbHead,"Fairfield, NJ",-1,1 to 50 employees,-1,...,-1,True,True,True,True,False,False,False,False,NaN
16,16,Data Analyst,$37K-$66K (Glassdoor est.),Undertone stands alone among AdTech and ad net...,3.8,Undertone\n3.8,"New York, NY","New York, NY",201 to 500 employees,2001,...,True,True,False,False,True,False,False,False,False,NaN
21,21,Data Science Analyst,$37K-$66K (Glassdoor est.),"Job Description\nOur client, a music streaming...",-1.0,MUSIC & Entertainment,"New York, NY","Marina del Rey, CA",Unknown,-1,...,-1,True,True,False,True,False,False,False,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2217,2217,Technical Data Analyst - X,$57K-$100K (Glassdoor est.),"SOFT's client, located in XXXXXXXX is hiring a...",4.1,Source of Future Technology Inc\n4.1,"Denver, CO","New York, NY",1 to 50 employees,1981,...,-1,True,False,True,True,False,True,False,False,NaN
2227,2227,Data Base Programmer/Analyst,$57K-$100K (Glassdoor est.),Job Title:\nData Base Programmer/Analyst\nAppl...,3.3,V.L.S. Systems\n3.3,"Denver, CO","Chantilly, VA",201 to 500 employees,2006,...,-1,False,False,False,True,False,False,False,False,NaN
2228,2228,Senior Business/Data Analyst,$57K-$100K (Glassdoor est.),This team is responsible for leading two prima...,2.7,TechUSA\n2.7,"Englewood, CO","Millersville, MD",1001 to 5000 employees,1998,...,-1,True,False,True,True,False,False,False,False,NaN
2249,2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,2.9,Arrow Electronics\n2.9,"Centennial, CO","Centennial, CO",10000+ employees,1935,...,-1,True,False,False,True,True,False,False,False,NaN
2252,2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",3.4,SCL Health\n3.4,"Broomfield, CO","Broomfield, CO",10000+ employees,1864,...,-1,False,False,True,True,False,False,False,False,NaN